body{
    background-color: black;
    color: yellow;
    font-family: Courier;
}
p{
    color: #ffffff;
    font-family: Verdana;
    font-size: 12pt;
    font-style: italic;
    font-weight: 900;

}