.cuerpo{
    width: 960px;
}
.cuerpo div{
    float: left;
    border: 2px solid black;
}
.izquierda{
    background-color: #0b348c;
    width: 200px;
    height: 400px;
    margin-right: 20px;
}
.centro{
    background-color: white;
    width: 455px;
    height: 400px;
}
.derecha{
    background-color: #4c72c5;
    width: 200px;
    height: 400px;
    margin-left: 20px;
}
.superior{
    background-color: red;
    width: 905px;
    height: 90px;
    margin-bottom: 20px;
}
.inferior{
    background-color: #ef870e;
    width: 905px;
    height: 90px;
    margin-top: 20px;
}