body{
    background-image: url("https://wallpaper.forfun.com/fetch/4f/4f21840fd6ca91f45fd2ccbe423aebf9.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    color: orange;
}