table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:  5px;
}
h1#titulo{
    color: teal;
}
strong{
    color: #d50f0f;
}
span.destacado{
    color: orange;
}
h2#subtitulo{
  color: blue;
}
span.especial{
    color: #4d18a8;
}
a{
    color: red;
}
a em {
    color: blue;
}
caption{
    color: blue;
}
td{
    color: green;
}
td strong{
    color: orange;
}
th{
    color: red;
}
th.especial{
    color: orange;
}
div#adicional p{
    color: olive;
}
div#adicional span#especial{
    color: fuchsia;
}
div#adicional a{
    color: green;
}
